<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="card">
        <div class="container">
            <h2 >Welcome to Login</h2>
            <h2 class="welcome-heading"><%= msg %></h2>
        </div>
        <form action="/login" method="post" class="login">
            <input type="text" name="user_id" id="" placeholder="Please enter your id">
            <input type="password" name="user_password" id="" placeholder="Enter your password here!">
            <button class="btn">Login</button>
            <p class="link">
                Not a user yet? <a href="/register">Create an account</a>
            </p>
        </form>
    </div>
    
</body>
</html>